# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files (Ignore all files in data directories except .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# PowerBI
*.pbix

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# OS / IDE
.vscode/
.idea/
.DS_Store
*.swp
